
<div class="row main">
  {{#each results}}
  <div class="three columns">
    <img src="{{imgURL}}" alt="{{name}} logo">
    <h4>{{name}}</h4>
    <p class="description">{{description}}</p>
    <form action="{{url}}">
      <button type="submit" name="button">Visit Podcast</button>
    </form>
  </div>
  {{/each}}

</div>
<div class="row">
  <div class="six columns">
    {{results.[0].name}}

  </div>
</div>
