<div class="row">
  <div class="six columns dont-see">
    <p class="sub-h">Don't see your favourite?</p>
  </div>
  <div class="three columns">
    <form class="add-fav" action="/add">
      <button type="submit">Add it here</button>
    </form>
  </div>
</div>


<div class="row main">
  {{#each results}}
  <div class="three columns listing">
    <img src="{{imgURL}}" alt="{{name}} logo">
    <h4 class="dont-break-out">{{name}}</h4>
    <p class="description">{{description}}</p>
    <a href="{{url}}" target="_blank"><button name="button">Visit Podcast</button></a>
  </div>
  {{/each}}
</div>
