
<div class="row main">
  {{#each results}}
  <div class="three columns">
    <h4>{{name}}</h4>
    <img src="{{imgURL}}" alt="{{name}} logo">
    <p>{{description}}</p>
    <form action="{{url}}">
      <button type="submit" name="button">Visit Podcast</button>
    </form>
  </div>
  {{/each}}

</div>
